// Default theme palette overrides.
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
$accentColor = #3080D0
$contentWidth = 768px
$textColor = #404244

// Chart.js theme palette.
$borderRadius = 6px
$codeFontFamily = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
$codeFontSize = 0.85em
$codeLineHeight = 1.5
$codeTextColor = #e0e0e0
$dangerColor = #e05025
